* {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 20px;
}

.gallery {
	width: 700px;
	display: flex;
	justify-content: space-around;
}

.gal-img {
	width: 150px;
}

#display {
	width: 400px;
	margin: 30px 50px;
}
